<?php

//Define Twilio Variables 
define("SID", '');
define("TOKEN", '');
define("TWILIO_NUMBER", '');

// Database
define('DBHOST', '');
define('DBNAME', '');
define('DBUSER', '');
define('DBPASS', '');

?>